<form [formGroup]="form">
  <p-fieldset legend="Login">
    <div class="card">
      <div class="field">
        <label for="username" class="block">Username</label>
        <input name="username" formControlName="username" id="username" type="username" pInputText />
      </div>
      <div class="field">
        <label for="password" class="block">Password</label>
        <input id="password" name="password" formControlName="password" type="password" [feedback]="false" pPassword />
      </div>
      <div class="form-buttons">
        <p-button (click)="login()">Login</p-button>
      </div>
    </div>
</p-fieldset>
</form>
