.artists {
  height: 100vh;

  .header {
    .toolbar {
      display: flex;
    }
  }

  .content {
    @keyframes fadein {
      from { opacity: 0; }

      to   { opacity: 1; }
    }

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
    overflow: auto;
    height: calc(100% - 96px);
    padding: 0 25px;
    animation: fadein 0.7s;
    @media screen and (max-width: 599.99px) and (orientation: portrait), (max-width: 959.99px) and (orientation: landscape) {
        grid-template-columns: repeat(auto-fill, minmax(156px, 1fr));
    }
  }
}
