<mat-sidenav-container
  [style.height]="isMobile ? 'calc( 100% - 156px )' : ''"
  [style.margin-top]="isMobile ? '56px' : ''"
  class="outer-container mat-typography">
  <mat-sidenav [mode]="mode" [(opened)]="opened">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet #mainOutlet="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<div [hidden]="mainOutlet.isActivated">
  <div class="pre-bootstrap">
    <div class="message">
      <div class="message-block">
        <span class="message-title"> FlittStream </span>
      </div>
      <div class="message-block">
        <div class="cs-loader">
          <label>&#9679;</label>
          <label>&#9679;</label>
          <label>&#9679;</label>
          <label>&#9679;</label>
          <label>&#9679;</label>
          <label>&#9679;</label>
        </div>
      </div>
      <div class="message-block">
        <span class="message-text"> Loading </span>
      </div>
    </div>
  </div>
</div>

<!--<router-outlet name="popup"></router-outlet>-->
<!--<app-track-controls [isMobile]="isMobile" (uponOpened)="opened = !opened"></app-track-controls>-->
<ngx-toasta></ngx-toasta>
