/* stylelint-disable property-no-vendor-prefix, at-rule-no-vendor-prefix */
.pre-bootstrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999;
  display: flex;
  flex: 0 0 100%;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
}

/* center message */

.pre-bootstrap .message {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  color: #262626;
  font-family: monospace;
  text-align: center;
}

.pre-bootstrap .message-block {
  display: flex;
  margin-bottom: 20px;
}

.pre-bootstrap .message-title {
  font-weight: 700;
  font-size: 26px;
}

.pre-bootstrap .message-text {
  font-size: 18px;
}

/* ~ center message */

/* spinner keyframes */
@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }

  33% {
    opacity: 1;
    transform: translateX(0);
  }

  66% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }

  33% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  66% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

/* ~ spinner keyframes */

/* spinner */
.cs-loader {
  display: flex;
}

.hidden {
  opacity: 0;
}

.cs-loader label {
  display: inline-flex;
  color: #808080;
  font-size: 20px;
  opacity: 0;
}

/* split timing */
.cs-loader label:nth-child(6) {
  -webkit-animation: lol 3s 0ms infinite ease-in-out;
  animation: lol 3s 0ms infinite ease-in-out;
}

.cs-loader label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
/* ~ split timing */
/* ~ spinner */
