<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <app-login-control #loginControl [isModal]="true"></app-login-control>
</div>
<div mat-dialog-actions>
  <div>
    <button mat-raised-button color="primary" [disabled]="loginControl.isLoading" (click)="loginControl.login()">
      <mat-spinner *ngIf="loginControl.isLoading" [diameter]="20"></mat-spinner>{{'Login' | uppercase}}
    </button>
    <!--<div>
      <a mat-button routerLink="/recoverpassword">FORGOT PASSWORD</a>
      <mat-divider [vertical]="true"></mat-divider>
      <a mat-button routerLink="/register">REGISTER</a>
    </div>-->
  </div>
</div>
